---
interface Props {
  title: string;
  description: string;
  date: Date;
  tags: string[];
  slug: string;
}

const { title, description, date, tags, slug } = Astro.props;
const formattedDate = date.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<article class="post-card">
  <time class="post-card-date" datetime={date.toISOString()}>
    {formattedDate}
  </time>
  <h2 class="post-card-title">
    <a href={`/blogs/${slug}/`} class="post-card-link">{title}</a>
  </h2>
  <p class="post-card-description">{description}</p>
  {
    tags.length > 0 && (
      <div class="post-card-tags">
        {tags.map((tag) => (
          <a href={`/blogs/tags/${tag}/`} class="tag">
            {tag}
          </a>
        ))}
      </div>
    )
  }
</article>
